/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.form-control:focus {
    border-color: #0077cc;
    box-shadow: 0 0 0 0.2rem #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-link.nav-link:focus {
    outline: black auto 1px;
}

html {
    font-size: 14px;
    background: linear-gradient(45deg, #ff6500, black);
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    line-height: 60px;
}

/* My CSS */

.login-section {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #00000030;
    border-radius: 25px;
    width: 300px;
    box-shadow: 0px 0px 10px 15px #00000050;
}

.login-textbox {
    margin: 10px 0px 10px 0px;
}

.login-register {
    margin-top: 15px;
    text-align: center;
}

.login-error > ul {
    list-style-type: none;
}

.btn-primary {
    background-image: linear-gradient(to right, #1D2B64 0%, #b75572 50%, #1D2B64 100%)
}

.btn-primary {
    padding: 10px;
    text-align: center;
    transition: 1s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border-color: white;
}

    .btn-primary:hover {
        background-position: right;
        color: #fff;
        border-color: white;
    }