﻿@page "/account"

@using System.Security.Claims
@using RegularExpressionValidator.Client.Services
@using RegularExpressionValidator.Shared.Models

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserDetailService UserDetailService;

<PageTitle>Account</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="border">
                <div class="content-bottom-button">
                    <div class="container-fluid">
                        <div class="row">
                            @if (detail != null)
                            {
                                <div class=col-lg-6>
                                    <label>Username</label>
                                    <input type="text" class="form-control" @bind="@detail.Username">
                                    
                                    <label>Email</label>
                                    <input type="text" class="form-control" @bind="@detail.Email">

                                    <label>First name</label>
                                    <input type="text" class="form-control" @bind="@detail.FirstName">

                                    <label>Last name</label>
                                    <input type="text" class="form-control" @bind="@detail.LastName">
                                </div>
                                <div class=col-lg-6>

                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="custom-button" @onclick="Save">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private UserDetail detail = null;

    protected override async Task OnInitializedAsync()
    {
        this.detail = await UserDetailService.ReadByUserId(await GetUserId());

        if (this.detail.BirthDate == null)
            this.detail.BirthDate = new DateTime();
    }

    private async void Save()
    {
        await UserDetailService.Update(detail);
    }

    private async Task<int> GetUserId()
    {
        ClaimsPrincipal user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        return int.Parse(user.FindFirst(claim => claim.Type == "sub")?.Value);
    }
}
