﻿@page "/authentication/{action}"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using RegularExpressionValidator.Client.Models
@using RegularExpressionValidator.Client.Services

@inject NavigationManager navigationManager
@inject NotificationService notificationService

<RemoteAuthenticatorView Action="@Action">
    <CompletingLoggingIn>
        @InvokeAsync(() =>
        {
            notificationService.ShowNotification(new Notification("Login was successfull", Notification.NotificationType.Success));
        })
    </CompletingLoggingIn>
    <LogInFailed>

        @InvokeAsync(() =>
        {
            notificationService.ShowNotification(new Notification("Login failed", Notification.NotificationType.Error));
        })
    </LogInFailed>

    <LogOutSucceeded>
        @InvokeAsync(() =>
        {
            notificationService.ShowNotification(new Notification("Logout was successfull", Notification.NotificationType.Success));
            navigationManager.NavigateTo("/");
        })
    </LogOutSucceeded>
    <LogOutFailed>
        @InvokeAsync(() =>
        {
            notificationService.ShowNotification(new Notification("Logout failed", Notification.NotificationType.Error));
        })
    </LogOutFailed>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; }
}
