﻿@page "/"

@using System.Text.RegularExpressions
@using RegularExpressionValidator.Client.Components
@using RegularExpressionValidator.Client.Models
@using RegularExpressionValidator.Client.Services
@using System.Security.Claims
@using RegularExpressionValidator.Shared.Models

@inject PatternService PatternService
@inject ContentService ContentService
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Validator</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <form class="border regex-form">
                <div class="form-group regex-form-top">
                    <div class="save-icon-wrapper">
                        <label>Regular Expression</label>
                        <AuthorizeView>
                            <Authorized>
                                <button type="button" class="custom-button custom-icon" @onclick="SavePattern"><span class="oi oi-file"></span></button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <input type="text" class="form-control" @bind="@pattern">
                    <div class="form-check form-switch">
                        <input class="form-check-input custom-switch" type="checkbox" @bind="isMultiline">
                        <label class="form-check-label">Multiline</label>
                    </div>
                </div>
                <div class="form-group regex-form-mid">
                    <div class="save-icon-wrapper">
                        <label>Text</label>
                        <AuthorizeView>
                            <Authorized>
                                <button type="button" class="custom-button custom-icon" @onclick="SaveContent"><span class="oi oi-file"></span></button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <textarea type="text" class="form-control" @bind="content" rows="10"></textarea>
                </div>
                <div class="text-center regex-form-bottom">
                    <button type="button" class="custom-button" @onclick="Evaluate">Evaluate</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            @if (groups.Count > 0)
            {
                <div class="border">
                    @if (showTable)
                    {
                        <div class="content-bottom-button">
                            @foreach (ExpressionGroup group in groups)
                            {
                                <GroupTableComponent Root="@group" />
                            }
                        </div>
                        <div class="text-center">
                            <button type="button" class="custom-button" @onclick=" _ => {showTable = false;}">Show pyramid</button>
                        </div>
                    }
                    else
                    {
                        <div class="content-bottom-button">
                            @foreach (ExpressionGroup group in groups)
                            {
                                <GroupPyramidComponent Root="@group" />
                            }
                        </div>
                        <div class="text-center">
                            <button type="button" class="custom-button" @onclick=" _ => {showTable = true;}">Show table</button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    private List<ExpressionGroup> groups = new List<ExpressionGroup>();

    private bool isMultiline = true;
    private bool showTable = true;

    private string pattern;
    private string content;

    public Index()
    {
        this.pattern = @"^(\w+)\s(\d+)\r*$";
        this.content = "Joe 164\n" +
                       "Sam 208\n" +
                       "Allison 211\n" +
                       "Gwen 171\n";

        //this.pattern = @"^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$";
        //this.content = "123-456-7890\n" +
        //                "(123) 456-7890\n" +
        //                "123 456 7890\n" +
        //                "123.456.7890\n" +
        //                "+91 (123) 456-7890\n";
    }

    private void Evaluate()
    {
        Regex regex = ValidatePattern();

        if (regex != null)
        {
            MatchGroups(regex);
        }
    }

    private Regex ValidatePattern()
    {
        Regex regex = null;

        try
        {
            regex = new Regex(pattern, GetRegexOptions());
        }
        catch (Exception exception)
        {
            NotificationService.ShowNotification(new Notification(exception.Message, Notification.NotificationType.Error));
        }

        return regex;
    }

    private void MatchGroups(Regex regex)
    {
        this.groups.Clear();

        foreach (Match match in regex.Matches(content))
        {
            ExpressionGroup group = new ExpressionGroup(match.Groups[0], match.Index);

            for (int i = 2; i < match.Groups.Count; i++)
            {
                group.AddGroup(new ExpressionGroup(match.Groups[i], match.Index));
            }

            groups.Add(group);
        }

        if (this.groups.Count > 0)
            NotificationService.ShowNotification(new Notification("Regular expression successfully matched", Notification.NotificationType.Success));
        else
            NotificationService.ShowNotification(new Notification("Regular expression could not match", Notification.NotificationType.Error));
    }

    private async Task SavePattern()
    {
        if (ValidatePattern() != null)
        {
            Pattern pattern = new Pattern();

            pattern.Text = this.pattern;
            pattern.UserID = await GetUserId();

            await PatternService.Create(pattern);
        }
    }

    private async Task SaveContent()
    {
        Content content = new Content();

        content.Text = this.content;
        content.UserID = await GetUserId();

        await ContentService.Create(content);
    }

    private async Task<int> GetUserId()
    {
        ClaimsPrincipal user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        return int.Parse(user.FindFirst(claim => claim.Type == "sub")?.Value);
    }

    private RegexOptions GetRegexOptions()
    {
        if (this.isMultiline)
            return RegexOptions.Multiline;
        else
            return RegexOptions.Singleline;
    }
}