﻿@page "/library"

@using RegularExpressionValidator.Client.Models
@using RegularExpressionValidator.Client.Services
@using RegularExpressionValidator.Shared.Models
@using System.Net

@inject PatternService PatternService
@inject ContentService ContentService

<PageTitle>Library</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="border library">
                <ul class="list-group">
                    @foreach (Pattern pattern in this.patterns)
                    {
                        <li class="list-group-item @IsSelected(pattern)" @onclick="x => EditPattern(pattern)">@pattern.Text</li>
                    }
                </ul>
            </div>

            <div class="border library">
                <ul class="list-group">
                    @foreach (Content content in this.contents)
                    {
                        <li class="list-group-item @IsSelected(content)" @onclick="_ => EditPattern(content)">@content.Text</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            @if (pattern != null || content != null)
            {
                <form class="border regex-form">
                    @if (pattern != null)
                    {
                        <div class="content-bottom-button">
                            <label>Pattern text</label>
                            <input type="text" class="form-control" @bind="@pattern.Text">
                        </div>
                        <div class="text-center">
                            <button type="button" class="custom-button" @onclick="UpdatePattern">Save</button>
                            <button type="button" class="custom-button" @onclick="DeletePattern">Delete</button>
                        </div>
                    }
                    else if (content != null)
                    {
                        <div class="content-bottom-button">
                            <label>Content text</label>
                            <input type="text" class="form-control" @bind="@content.Text">
                        </div>
                        <div class="text-center">
                            <button type="button" class="custom-button" @onclick="UpdateContent">Save</button>
                            <button type="button" class="custom-button" @onclick="DeleteContent">Delete</button>
                        </div>
                    }
                </form>
            }
        </div>
    </div>
</div>

@*<div class="form-group regex-form-top">
    <div class="save-icon-wrapper">
    <label>Regular Expression</label>
    </div>
    <input type="text" class="form-control" @bind="@pattern">
    </div>
    <div class="form-group regex-form-mid">
    <div class="save-icon-wrapper">
    <label>Text</label>
    </div>
    <textarea type="text" class="form-control" @bind="content" rows="10"></textarea>
    </div>
    <div class="text-center regex-form-bottom">
    <button type="button" class="custom-button" @onclick="Evaluate">Evaluate</button>
    </div>*@

@code {
    private List<Pattern> patterns = new List<Pattern>();
    private List<Content> contents = new List<Content>();

    private Pattern pattern = null;
    private Content content = null;

    protected override async Task OnInitializedAsync()
    {
        this.patterns = await PatternService.ListAll();
        this.contents = await ContentService.ListAll();
    }

    private void EditPattern(Pattern pattern)
    {
        this.content = null;
        this.pattern = pattern;
    }

    private void EditPattern(Content content)
    {
        this.pattern = null;
        this.content = content;
    }

    private async Task UpdatePattern()
    {
        await PatternService.Update(this.pattern);
    }

    private async Task DeletePattern()
    {
        HttpStatusCode code = await PatternService.Delete(this.pattern.ID);

        if (code == HttpStatusCode.OK)
        {
            this.patterns.Remove(this.pattern);
            this.pattern = null;
        }
    }

    private async Task UpdateContent()
    {
        await ContentService.Update(this.content);
    }

    private async Task DeleteContent()
    {
        HttpStatusCode code = await ContentService.Delete(this.content.ID);

        if (code == HttpStatusCode.OK)
        {        
            this.contents.Remove(this.content);
            this.content = null;
        }
    }

    private string IsSelected(Object obj)
    {
        if (obj == this.pattern || obj == this.content)
            return "library-active";
        return "";
    }
}
