﻿@page "/settings"

<PageTitle>Settings</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="border">
                <h1>Settings</h1>
            </div>
        </div>
    </div>
</div>

@code {

}
