﻿@using RegularExpressionValidator.Client.Models

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Sub groups</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ExpressionGroup group in Root.ToList())
        {
            <tr>
                <th scope="row">@group.Value</th>
                <td>
                    @((MarkupString)@group.ToHtml())
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ExpressionGroup Root { get; set; }
}
