﻿@using RegularExpressionValidator.Client.Models

<div class="text-center pyramid-view">
    @foreach(string html in CreateGroupTreeView())
    {
        @((MarkupString)html)
    }
</div>

@code {
    [Parameter]
    public ExpressionGroup Root { get; set; }

    private List<string> CreateGroupTreeView()
    {
        List<string> output = new List<string>();
        int depth = 0;

        while (Root.ToListByDepth(depth).Count != 0)
        {
            string html = "<div>";

            foreach (ExpressionGroup group in Root.ToListByDepth(depth))
            {
                html += group.ToHtml();
            }

            html += "</div>";

            output.Add(html);
            depth++;
        }

        return output;
    }
}
