﻿@using RegularExpressionValidator.Client.Models
@using RegularExpressionValidator.Client.Services

<div class="notification-wrapper">
    @foreach (Notification notification in notifications)
    {
        <div class="notification @notification.ClassCss">
            <div class="notification-body text-center p-2">
                <div class="mb-2">
                    <span class="oi oi-@notification.IconCss"></span>
                    <span>@notification.Heading</span>
                </div>
                <span>@notification.Message</span>
            </div>
        </div>
    }
</div>

@code {
    [Inject]
    NotificationService NotificationService { get; set; }

    private List<Notification> notifications = new List<Notification>();
    private object notificationLock = new object();

    protected override void OnInitialized() => NotificationService.Show += AddNotification;

    public void AddNotification(Notification notification)
    {
        lock (notificationLock)
        {
            this.notifications.Add(notification);

            this.StateHasChanged();
        }

        Task.Run(async () =>
        {
            await Task.Delay(1900);
            RemoveNotification(notification);
        });
    }

    private void RemoveNotification(Notification notification)
    {
        lock (notificationLock)
        {
            this.notifications.Remove(notification);
            this.StateHasChanged();
        }
    }
}