﻿@using RegularExpressionValidator.Client.Components
@inherits LayoutComponentBase

<NotificationComponent />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>